.BRIGHT {
  border: 1px solid #fffc00; }

.RED {
  border: 1px solid red; }

.GREEN {
  border: 2px solid green; }

.BLUE {
  border: 1px solid blue; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Roboto', 'Ubuntu', 'Helvetica', sans-serif;
  font-size: 16px;
  color: #505050;
  background: green;
  height: 100%;
  min-height: 100vh; }
  body header nav .active {
    background: rgba(80, 80, 80, 0.1); }
  body header nav .left-nav {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 70px;
    height: auto;
    padding-top: 35px; }
    body header nav .left-nav a {
      padding: 15px; }
      body header nav .left-nav a:hover {
        background: rgba(80, 80, 80, 0.05); }
  body header nav .right-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    flex-direction: column;
    width: 70px;
    height: auto;
    padding-bottom: 35px; }
    body header nav .right-nav a {
      padding: 15px; }
      body header nav .right-nav a:hover {
        background: rgba(80, 80, 80, 0.05); }
  body main {
    min-height: calc(100vh - 4vh);
    background: linear-gradient(90.75deg, #faf4f0 0, #ebf1fc 100%);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #505050;
    letter-spacing: 1px; }
    body main #top {
      width: 100%;
      height: 100vh;
      padding: 70px;
      margin: 0; }
      body main #top .top-section {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto; }
        body main #top .top-section .section-info {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 2;
          color: #fff;
          padding: 10px;
          text-align: center;
          background: rgba(80, 80, 80, 0.7); }
          body main #top .top-section .section-info h2 {
            font-weight: bold;
            letter-spacing: 7px;
            color: #fffc00;
            font-size: 5vw; }
          body main #top .top-section .section-info p {
            letter-spacing: 2px;
            padding: 0 10%;
            margin: 0; }
        body main #top .top-section .section-bg {
          width: 100%;
          height: 100%;
          display: flex;
          position: relative;
          align-items: center;
          justify-content: center;
          overflow: hidden; }
          body main #top .top-section .section-bg .hold-image {
            margin: auto;
            position: absolute;
            min-height: 100%;
            min-width: 100%; }
            body main #top .top-section .section-bg .hold-image.camping-opacity-bg {
              opacity: 0.9; }
            body main #top .top-section .section-bg .hold-image.fishing-opacity-bg {
              opacity: 0.8; }
    body main .wraper {
      width: calc(100% - 140px);
      margin: auto; }
      body main .wraper #price {
        min-height: 100vh;
        width: 100%; }
        body main .wraper #price .price-list {
          border-left: 2px solid #fffc00;
          margin: 30px 0;
          padding: 10px; }
          body main .wraper #price .price-list .table {
            margin: 30px 0; }
        body main .wraper #price .more-info {
          text-align: justify; }
          body main .wraper #price .more-info .waranty {
            font-weight: bold;
            background: rgba(80, 80, 80, 0.7);
            color: #fff;
            text-align: center;
            border-radius: 3px;
            margin: 50px 0;
            padding: 20px; }
      body main .wraper #impo-info {
        min-height: 100vh;
        display: flex;
        justify-content: center; }
        body main .wraper #impo-info .center {
          margin: auto; }
          body main .wraper #impo-info .center h3 {
            text-align: center; }
          body main .wraper #impo-info .center .book {
            margin: 50px auto; }
          body main .wraper #impo-info .center .list {
            width: 70%;
            margin: auto;
            text-align: justify; }
            body main .wraper #impo-info .center .list div {
              margin: 30px auto; }
    body main #contact {
      min-height: calc(100vh - 4vh);
      background: #fff; }
      body main #contact .wraper {
        width: 100%;
        padding: 70px;
        margin: auto;
        min-height: calc(100vh - 4vh); }
        body main #contact .wraper .contact-info {
          padding: 0;
          display: flex;
          align-items: center;
          text-align: center;
          max-width: 300px;
          margin: auto; }
          body main #contact .wraper .contact-info span {
            color: #fffc00; }
          body main #contact .wraper .contact-info p {
            font-weight: lighter; }
          body main #contact .wraper .contact-info h2 {
            font-size: 50px; }
          body main #contact .wraper .contact-info a {
            color: #fffc00;
            padding: 5px 7px;
            background: #505050;
            border-radius: 3px; }
            body main #contact .wraper .contact-info a:hover {
              text-decoration: none;
              color: #fff; }
        body main #contact .wraper .mapouter {
          text-align: right; }
        body main #contact .wraper .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 100%; }
    body main #bg-img {
      height: 100vh;
      top: 0;
      left: 0;
      overflow: hidden; }
      body main #bg-img:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(80, 80, 80, 0.6);
        z-index: 1; }
      body main #bg-img img {
        position: inherit;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0; }
    body main.head {
      height: 100vh;
      overflow: hidden; }
      body main.head #top {
        height: 100vh;
        z-index: 2;
        transition: 1s all ease-out; }
        body main.head #top:hover {
          cursor: pointer; }
        body main.head #top.upMe {
          height: 40vh; }
        body main.head #top span {
          color: #fffc00; }
        body main.head #top .top-container #logo {
          border: 3px solid #fff;
          border-radius: 5px;
          font-size: 80px;
          letter-spacing: 1vw; }
          body main.head #top .top-container #logo h1 {
            box-sizing: border-box;
            font-size: 1em;
            letter-spacing: 0.05em;
            color: #fff;
            line-height: 1; }
          body main.head #top .top-container #logo p {
            color: #fff;
            font-size: 0.2em;
            letter-spacing: 1em;
            line-height: 1; }
        body main.head #top .top-container .icons {
          margin-top: 1vh; }
          body main.head #top .top-container .icons a {
            color: #fff;
            margin: 0 1vw;
            transition: 0.5s color ease-out; }
            body main.head #top .top-container .icons a:hover {
              color: #fffc00;
              transition: 0.5s color ease-out; }
        body main.head #top h5 {
          bottom: 3vh;
          font-size: 2.5vh; }
      body main.head #select {
        z-index: 2; }
        body main.head #select .select {
          height: 56vh; }
          body main.head #select .select a {
            text-decoration: none;
            height: 95%;
            margin: auto;
            color: #fff;
            border-radius: 3px;
            border: 1px solid #fff; }
            body main.head #select .select a .sel-info {
              height: 100%;
              background: rgba(80, 80, 80, 0.7);
              z-index: 3;
              opacity: 0.9;
              transition: 1s opacity ease-out; }
              body main.head #select .select a .sel-info:hover {
                opacity: 0;
                transition: 1s opacity ease-out; }
              body main.head #select .select a .sel-info h2 {
                font-weight: bold;
                letter-spacing: 7px;
                color: #fffc00;
                font-size: 5vw; }
              body main.head #select .select a .sel-info p {
                letter-spacing: 2px;
                padding: 0 10%; }
            body main.head #select .select a .sel-bg {
              position: relative;
              top: 0;
              left: -100%;
              text-align: center;
              overflow: hidden;
              z-index: 2; }
              body main.head #select .select a .sel-bg img {
                min-width: 100%;
                min-height: 100%; }
                body main.head #select .select a .sel-bg img.skiing-image {
                  position: absolute;
                  left: -600px;
                  top: -200px;
                  transform: scale(0.8); }
                body main.head #select .select a .sel-bg img.camping-image {
                  position: absolute;
                  transform: scale(0.8);
                  right: -300px;
                  top: -130px;
                  object-fit: cover; }
                body main.head #select .select a .sel-bg img.fishing-image {
                  position: absolute;
                  transform: scale(0.8);
                  right: -350px;
                  top: -250px; }
  body footer {
    height: 4vh;
    color: #fff;
    letter-spacing: 2px;
    font-weight: lighter;
    background: rgba(80, 80, 80, 0.5); }
    body footer.head {
      position: fixed;
      left: 0;
      bottom: 0; }
    body footer p {
      padding: 0 15px; }

@media (max-width: 767.98px) {
  body header nav .left-nav {
    position: fixed;
    background: linear-gradient(90.75deg, #faf4f0 0, #ebf1fc 100%);
    z-index: 5;
    top: 0;
    left: 0;
    flex-direction: row;
    width: 100vw;
    height: 70px;
    padding-top: 0;
    padding-left: 35px; }
    body header nav .left-nav a {
      padding: 15px; }
      body header nav .left-nav a:hover {
        background: rgba(80, 80, 80, 0.05); }
  body header nav .right-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(90.75deg, #faf4f0 0, #ebf1fc 100%);
    flex-direction: row;
    width: 100vw;
    height: 70px;
    padding-bottom: 0;
    padding-right: 35px;
    justify-content: flex-end;
    z-index: 5; }
    body header nav .right-nav a {
      padding: 15px; }
      body header nav .right-nav a:hover {
        background: rgba(80, 80, 80, 0.05); }
  body main .main-section {
    width: 100%;
    padding: 70px 0;
    margin: 0; }
    body main .main-section .top-section {
      width: 100%;
      height: calc(100vh - 140px);
      position: relative;
      margin-bottom: 70px; }
  body main.main-height {
    overflow: scroll; }
    body main.main-height::-webkit-scrollbar {
      display: none; }
  body main #top.upMe {
    height: 40vh; }
  body main #top .top-container #logo {
    font-size: 14vw; }
  body main #select .select {
    flex-direction: column;
    padding: 2vh 0 4vh;
    height: 100%; }
    body main #select .select a {
      margin: 5px 0;
      padding: 5px 0;
      height: 25vh; }
      body main #select .select a .sel-info h2 {
        letter-spacing: 10px;
        font-size: 7vw; }
      body main #select .select a .sel-bg img {
        min-width: 100%;
        min-height: 100%;
        margin-top: -180px; }
  body footer {
    background: rgba(80, 80, 80, 0.5);
    font-size: 3vw; } }
